@import '../variables.scss';

.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__item {
  width: 240px;
  padding: 170px 0px 40px;
  margin: 0 auto;

  &--fast {
    background-image: url('../assets/fast.png');
    background-repeat: no-repeat;
    background-position: 50% 15%;
  }
  &--cool {
    background-image: url('../assets/cool.png');
    background-repeat: no-repeat;
    background-position: 50% 15%;
  }
  &--expensive {
    background-image: url('../assets/price.png');
    background-repeat: no-repeat;
    background-position: 50% 15%;
  }
}

.advantages__description {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.advantages__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.advantages__toggles {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 640px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__description {
    width: 450px;
    text-align: left;
  }
  .advantages__wrapper {
    padding-bottom: 10px;
  }
  .advantages__title {
    text-align: left;
  }

  .advantages__item {
    width: 640px;
    padding: 40px 0px 40px 160px;

    border-bottom: 1px solid #4a4a4a;
    &:last-of-type {
      border: none;
    }
    &--fast {
      background-image: url('../assets/fast.png');
      background-repeat: no-repeat;
      background-position: 3% 50%;
    }
    &--cool {
      background-image: url('../assets/cool.png');
      background-repeat: no-repeat;
      background-position: 3% 50%;
    }
    &--expensive {
      background-image: url('../assets/price.png');
      background-repeat: no-repeat;
      background-position: 3% 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 960px;
  }
  .advantages__list {
    flex-wrap: nowrap;
  }
  .advantages__item {
    position: relative;
    width: 320px;
    margin-top: 30px;
    padding: 160px 35px 0px;
    text-align: center;
    box-sizing: content-box;

    border-bottom: none;
    &::after {
      content: '';
      border-right: 1px solid #4a4a4a;
      position: absolute;
      top: 30%;
      bottom: 10%;
      right: 0;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
    &--fast {
      background-image: url('../assets/fast.png');
      background-repeat: no-repeat;
      background-position: 50% 20%;
    }
    &--cool {
      background-image: url('../assets/cool.png');
      background-repeat: no-repeat;
      background-position: 50% 20%;
    }
    &--expensive {
      background-image: url('../assets/price.png');
      background-repeat: no-repeat;
      background-position: 50% 20%;
    }
  }

  .advantages__description {
    width: 250px;
    text-align: center;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__wrapper {
    padding-bottom: 50px;
  }
}
