@import '../variables.scss';

.button {
  display: block;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 0;
  border: 1px solid #e5ddd5;
  box-sizing: content-box;
  &:hover {
    background-color: #6a4d38;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &--disable {
    background-color: #aeaeae !important;
    pointer-events: none;
  }
}
