@import '../variables.scss';

.user-list__login {
  position: relative;

  display: block;
  padding: 17px 21px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  svg {
    display: none;
  }
}

.user-list__login-icon {
  position: absolute;
  top: 14px;
  left: 21px;

  opacity: 0.3;
  path {
    stroke: #fff;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    width: 60px;
  }

  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;

    font-size: 0;
    svg {
      display: block;
    }

    &:hover .user-list__login-icon {
      opacity: 1;

      stroke {
        fill: #826550;
      }
    }
    &:active .user-list__login-icon {
      opacity: 0.3;

      stroke {
        fill: #fff;
      }
    }
  }
  .user-list__login-icon {
    top: 25px;
    left: 11px;
  }
}
@media (min-width: $desktop-width) {
  .user-list {
    width: auto;
    max-width: 160px;
  }

  .user-list__login {
    position: relative;

    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    svg {
      display: none;
    }

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }
    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }
    &:hover .user-list__login-icon {
      opacity: 0.3;

      path {
        stroke: #000;
      }
    }

    &:active .user-list__login-icon {
      opacity: 0.1;
    }
  }
  .user-list__login-icon {
    left: 15px;
  }
}
